<!-- NAVIGATION -->
<nav class="bg-black">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a 
          href="/"
          rel="noopener"
          rel="noreferrer"
        >
          <div class="flex items-center flex-shrink-0 text-white mr-6">
            <img
              class="h-14"
              src="/img/logo.png"
              alt="Stoner Witches logo, a bat mascot with crystals"
            />          
            <span class="logo text-white text-3xl">Stoner Witches</span>
          </div>
        </a>

        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            {{ range .Site.Menus.left }}

              <a href="{{ .URL }}" class="font-bold text-[#ffcf40] hover:text-[#ffbf00] h2 px-3 py-2 rounded-md text-lg font-large">{{ .Name }}</a>

            {{ end }}
          </div>
        </div>
      </div>
    </nav>
